<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание заметки</title>
</head>
<body>

    <div>
        {% for flashed_message in get_flashed_messages() %}

            <p style="background-color: #81a84b; color: #9b2d78; padding: 14px; border-radius: 10px">
                {{ flashed_message }}
            </p>

         {% endfor %}
    </div>



    <form method="post">

        <div>
            <label>
                Заголовок
                <input name="title">
            </label>
        </div>

        <div>
            <label>
                Содержимое
                <textarea name="text"></textarea>
            </label>
        </div>

        <input type="submit" value="Отправить">

    </form>


</body>
</html>